[include shell_command.cfg]
[include homing.cfg]
[include mainsail.cfg]
[include KAMP_Settings.cfg]
[include macros.cfg]
[include stealthburner_leds.cfg]
#[include bedfans.cfg]
[exclude_object]

[skew_correction]

[force_move]
enable_force_move: True



[mcu]
#serial: /dev/serial/by-id//usb-Klipper_stm32g0b1xx_0F001D000B504B4633373520-if00
canbus_uuid: bce87cb9fa27
#restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]


[mcu EBBCan]
canbus_uuid: ab6926475f63
#canbus_uuid: cd138c341e4e


[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 12000    			
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0



#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE2
dir_pin: PB4
enable_pin: !PC11
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin: EBBCan:PB6
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 80   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC10
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 140           #Setting für sensorless
diag_pin: ^PF3              #Setting für sensorless

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PF12
dir_pin: PF11
enable_pin: !PB3
microsteps: 32
rotation_distance: 40
#endstop_pin: PF4
endstop_pin: tmc2209_stepper_y:virtual_endstop
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
position_min: -7
position_endstop: 250
position_max: 250
homing_speed: 80  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PF13
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 141               #Setting für Sensorless
diag_pin: ^PF4                  #Setting für Sensorless

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PD7
dir_pin: PD6
enable_pin: !PF10
rotation_distance: 40
gear_ratio: 80:16
microsteps: 64
endstop_pin: probe:z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
##--------------------------------------------------------------------
position_max: 220
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PF9
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear Left on Motor5
[stepper_z1]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PD1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 64

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PD0
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on Motor6
[stepper_z2]
step_pin: PA10
dir_pin: PA14
enable_pin: !PA15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 64

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF8
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right on Motor7
[stepper_z3]
step_pin: PD11
dir_pin: !PD9
enable_pin: !PD15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 64

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PD14
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Extruder
#####################################################################

[extruder]
step_pin: EBBCan:PD0
dir_pin: EBBCan:PD1
enable_pin: !EBBCan:PD2
rotation_distance: 47.088  #Galileo2
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: EBBCan:PB13
#sensor_type: MAX31865
#sensor_pin: 
max_extrude_only_distance: 100
max_extrude_cross_section: 5
sensor_type: Generic 3950
sensor_pin: EBBCan:PA3
min_temp: -100
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982


##	E0 on Motor7
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: EBBCan:PA15
interpolate: false
run_current: 0.6
#sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - HE1
heater_pin: PB5 
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: Generic 3950
sensor_pin: PA0
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
pin: !EBBCan:PB9
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 3.5
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
    
[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 25, 25
mesh_max: 225, 225
probe_count: 6,6

#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: EBBCan: PA1
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: EBBCan: PA0
heater: extruder
heater_temp: 50
max_power: 1.0

#CM4
[temperature_fan CM4]
pin: PB9
sensor_type: temperature_host
target_temp: 45.0 
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.0
max_power: 1.0
min_temp: 0
max_temp: 90
control: pid
pid_Kp: 1.0
pid_Ki: 0.5
pid_Kd: 2.0
pid_deriv_time: 2.0

#####Nevermore#####

#[fan_generic nevermore]
#pin: PE6
#max_power: 1.0
#hardware_pwm: false

[output_pin nevermore]
pin: PE6
value: 0
shutdown_value: 0

[temperature_fan MCUTemp+_fan]
sensor_type: temperature_mcu  #MCU Temp Sensor
pin: PE0                      #Fan Pin Belegung
max_temp: 100.0               #MCU max Temp bevor Shutdown
target_temp: 45.0             #Temp bei der sich die Lüfter einschalten
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.0
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

#[heater_fan controller_fan]
##	Controller fan - CNC_FAN2
#Pin: PC12
#kick_start_time: 0.5
#heater: heater_bed
#heater_temp: 45.0

#[heater_fan exhaust_fan]
##	Exhaust fan - CNC_FAN3
#pin: PE5
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#[heater_fan fan4]
#pin: PE4
#tachometer_pin: PC13

#[heater_fan fan5]
#pin: PB8
#tachometer_pin: PC14

#[heater_fan fan6]
#pin: PB9
#tachometer_pin: PC15

#####################################################################
#                     Temperatur
#####################################################################

#[temperature_sensor cb1]
#sensor_type: temperature_host
#max_temp: 100

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PA1
min_temp: 0
max_temp: 100


[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

#[temperature_sensor SoC]
#sensor_type: temperature_host



#####################################################################
#   LED Control
#####################################################################

[neopixel chamber]
pin: PB15
chain_count: 28
color_order: GRB
initial_RED: 1.0                
initial_GREEN: 1.0             # Setting all the lights to 0, will turn them off
initial_BLUE: 1.0



#[neopixel toolhead]
#pin: EBBCan:PD3
#chain_count: 3
#color_order: RGB
#initial_RED: 1.0
#initial_GREEN: 1.0
#initial_BLUE: 1.0

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

#[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
#home_xy_position:125,125
#speed:200
#z_hop:10

[quad_gantry_level]

gantry_corners:
	-60,-10
	310, 320

points:
	25,25
	25,225
	225,225
	225,25
    

speed: 280
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.015
max_adjust: 10


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE9, EXP1_2=PE10,
    EXP1_3=PE11, EXP1_4=PE12,
    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
    EXP1_7=PE15, EXP1_8=PB10,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, EXP2_2=PB13,
    EXP2_3=PF7, EXP2_4=PB12,
    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

# See the sample-lcd.cfg file for definitions of common LCD displays.



######################################################################
#                        adxl
###################################################################### 

[adxl345]
cs_pin: EBBCan:PB12
spi_software_sclk_pin: EBBCan:PB10
spi_software_mosi_pin: EBBCan:PB11
spi_software_miso_pin: EBBCan:PB2
axes_map: x,y,z

[resonance_tester]
probe_points: 100, 100, 20
accel_chip: adxl345

[input_shaper]
shaper_freq_x: 65.6 # center frequency for the X axis filter
shaper_type_x: mzv  # filter type for the X axis
shaper_freq_y: 43.8 # center frequency for the Y axis filter
shaper_type_y: mzv # filter type for the Y axis
#damping_ratio_x: ... # damping ratio for the X axis
#damping_ratio_y: ... # damping ratio for the Y axis



#########################################################################
#                      Klippain Plugin
#########################################################################

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.493
#*# pid_ki = 1.344
#*# pid_kd = 261.514
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.483
#*# pid_ki = 0.983
#*# pid_kd = 152.407
#*#
#*# [probe]
#*# z_offset = -0.640
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.069613, 0.091488, 0.070863, 0.080238, 0.082113, 0.073363
#*# 	0.082738, 0.076488, 0.056488, 0.068363, 0.067113, 0.082113
#*# 	0.065863, 0.063363, 0.044613, 0.052738, 0.053988, 0.043363
#*# 	0.066488, 0.069613, 0.042738, 0.042738, 0.055238, 0.055238
#*# 	0.087113, 0.067113, 0.060863, 0.051488, 0.048363, 0.055863
#*# 	0.061488, 0.061488, 0.037113, 0.026488, 0.037113, 0.064613
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 225.0
#*# min_y = 25.0
#*# max_y = 225.0
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.00030158343823129946
#*# xz_skew = 0.0
#*# yz_skew = 0.0
